@*
Author   :  Anh T Nguyen 
            Chinh T Cao        
Version  : 1.0.0
Date     : 1/11/2012
Copyright: Capstone Project Team Falcon 2011 All right reserved
*@

@model PeregrineUI_2.Models.PageData<PeregrineUI_2.Models.Job>

<script type="text/javascript">
    
    $(document).ready(function () {
        more_info_accumulate_page = @(Model.CurrentPage);
        $("#show_msg_btn").click(function(){
            show_message(1, $('#fixed_info_tab').data('process_name'));
        });
        $("#job_load_more").bind("click", {curPage: more_info_accumulate_page}, function(event){
            show_job((event.data.curPage+1), $('#fixed_info_tab').data('process_name'));
        });
    });
    
</script>

<!-- -->
<input id="show_msg_btn" class="ui_button" type="button" value="Show Messages" />

<!-- -->     
<table class = "job_table"> 
        <!-- -->   
        <thead>
            <tr>
                <td>Job Name </td>
                <td>Progress </td>
            </tr>
        </thead> 
        
        <!-- -->    
        <tbody>
            @{
                bool odd = true;
                string classname = "tr_odd";
            }
            @foreach (var job in Model.Data)
            {
                if (odd)
                {
                    classname = "tr_odd";
                    odd = false;
                }
                else
                {
                    classname = "tr_even";
                    odd = true;
                }
                <tr class="@classname">
                    <td>@job.JobContent </td>
                    <td>
                        <div class="meter-wrap" style="width: 200px;">
                            <div class="meter-value" style="background-color: #3399CC; width: @(job.PercentProgress)%;">
                                <div class="meter-text">
                                    @(job.PercentProgress)%
                                </div>
                            </div>
                        </div> 
                    </td>
                </tr>
            }
        </tbody>

        <!-- -->
        <tfoot>
            <tr>
                <td colspan="4">
                    <div style="text-align: center;"><input id="job_load_more" type="button" class="ui_button" value="Load More" /></div>
                </td>
            </tr>
        </tfoot>
</table>