@*
Author   : Anh T Nguyen   
           Chinh T Cao        
Version  : 1.0.0
Date     : 1/11/2012
Copyright: Capstone Project Team Falcon 2011 All right reserved
*@

@model PeregrineUI_2.Models.PageData<PeregrineUI_2.Models.Message>

<script type="text/javascript">
    
    $(document).ready(function () {
        more_info_accumulate_page = @(Model.CurrentPage);
        Msg_partial_page_setup();
    });
    
</script>

<input id="show_jobs_btn" class="ui_button" type="button" value="Show Jobs"/>

<table class = "msg_table">
        <thead>
            <tr>
                <td>Message Content </td>
                <td>Priority </td>
                <td>Category </td>
                <td>Date </td>
            </tr>
        </thead>   
  
        <tbody>
            @{
                bool odd = true;
                string classname = "tr_odd";
            }
            @foreach (var message in Model.Data)
            {            
                if (odd)
                {
                    classname = "tr_odd";
                    odd = false;
                }
                else
                {
                    classname = "tr_even";
                    odd = true;
                }
                
                <tr class="@classname">
                    <td>@message.Content </td>
                    <td>@message.Priority </td>
                    <td class= "@if (message.Category == 5)
                                {
                                    @:error
                                    }">@message.Category </td>
                    <td>@message.Date.ToString("yyyy-MM-dd HH:mm tt") </td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <td colspan="4">
                    <div style="text-align: center;"><input id="msg_load_more" type="button" class="ui_button" value="Load More" /></div>
                </td>
            </tr>
        </tfoot>
</table>