@*
Author   : Chinh T Cao        
Version  : 1.0.0
Date     : 1/11/2012
Copyright: Capstone Project Team Falcon 2011 All right reserved
*@

@model PeregrineUI_2.Models.PageData<PeregrineUI_2.Models.Message>

<script type="text/javascript">
   
    $(document).ready(function () {   
        msg_inquiry_accumulate_page = @(Model.CurrentPage);
        msg_inquiry_current_sort    = @(Model.SortingType);
        Msg_list_partial_page_setup();
    });

</script>                          

<table id ="msg_list_table" class="display">
        <thead>
            <tr>            
                <td>     
                    <div style="float: left">Message Content</div> 
                    <div style="float: right">                         
                       

                        <div id="Msg_inq_context_sort_acc" class="arrow_bg"><div class="up_arrow @if(Model.SortingType == 0){
                                                                                                                                          @:arrow_selected
                                                                                                                                          }"></div></div>
                        <div id="Msg_inq_context_sort_desc" class="arrow_bg"><div class="down_arrow @if(Model.SortingType == 1){
                                                                                                                                                 @:arrow_selected
                                                                                                                                              }"></div></div>                     
                    </div> 
                </td>
                <td>       
                    <div style="float: left">Process Name</div>  
                    <div style="float: right">                         
                       

                        <div id="Msg_inq_name_sort_acc" class="arrow_bg"><div class="up_arrow @if(Model.SortingType == 2){
                                                                                                                                          @:arrow_selected
                                                                                                                                          }"></div></div>
                        <div id="Msg_inq_name_sort_desc" class="arrow_bg"><div class="down_arrow @if(Model.SortingType == 3){
                                                                                                                                                 @:arrow_selected
                                                                                                                                              }"></div></div>                                   
                    </div> 
                </td>           
                <td>
                    <div style="float: left">Priority</div> 
                    <div style="float: right">   
                        
                        
                        <div id="Msg_inq_prio_sort_acc" class="arrow_bg"><div class="up_arrow @if(Model.SortingType == 4){
                                                                                                                                          @:arrow_selected
                                                                                                                                          }"></div></div>
                        <div id="Msg_inq_prio_sort_desc" class="arrow_bg"><div class="down_arrow @if(Model.SortingType == 5){
                                                                                                                                                 @:arrow_selected
                                                                                                                                              }"></div></div>
                    </div>
                </td>
                <td>
                    <div style="float: left">Message Type</div> 
                </td>
                <td> 
                    <div style="float: left">Date</div>  
                    <div style="float: right">                                     
                       

                        <div id="Msg_inq_date_sort_acc" class="arrow_bg"><div class="up_arrow @if(Model.SortingType == 6){
                                                                                                                                          @:arrow_selected
                                                                                                                                          }"></div></div>
                        <div id="Msg_inq_date_sort_desc" class="arrow_bg"><div class="down_arrow @if(Model.SortingType == 7){
                                                                                                                                                 @:arrow_selected
                                                                                                                                              }"></div></div>
                    </div> 
                </td>
            </tr>
        </thead>  
           
        <tbody>
            @foreach (var message in Model.Data)
            {
                <tr>           
                    <td>
                            @message.Content
                            @if (message.MessageLength > 60)
                            {                      
                                <a id="@(message.Content)" href='javascript:showpopup(@(message.MessageID), "@(message.ProcessName.Trim())", document.getElementById(this.id))' style="text-decoration:none">...</a> 
                            }                                                              
                    </td>
                    <td id="@(message.ProcessName)" >
                            <div class="top" onmouseover="this.className='top2'" onmouseout="this.className='top'">
                            <img src="../../Content/images/@(message.ProcessState.Trim()).png" alt=""/>      
                            <a href="Index?Process=@message.ProcessName">@message.ProcessName</a>
                            </div>
                    </td>
                    <td>    @message.Priority.ToString() </td>
                    <td>    @message.MsgType </td>
                    <td>    @message.Date.ToString("yyyy-MM-dd HH:mm tt") </td>                        
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <td colspan="6">
                    <div style="text-align: center;"><input type="button" id="msg_load_more" class="ui_button" value="Load More" /></div>
                </td>
            </tr>
        </tfoot>
</table>