@*
Author   : Chinh T Cao
           Anh T Nguyen
Version  : 1.0.0
Date     : 12/29/2011
Copyright: Capstone Project Team Falcon 2011 All right reserved
*@

@model PeregrineUI_2.Models.PageData<PeregrineUI_2.Models.Process>

<style type="text/css">       
        @@import url(../../Content/ProcessTable.css);         
</style>


<script type="text/javascript">

    function sorting(chkboxname) {
        // Getting the state of the chose checkbox
        var state = document.getElementById(chkboxname).checked;

        // If we check this checkbox, turnoff the other sorting checkbox
        if (state) {
            document.getElementById("ProcessName_checkbox").checked = false;
            document.getElementById("LastMsg_checkbox").checked = false;
            document.getElementById("MsgDate_checkbox").checked = false;
            document.getElementById("ProcessState_checkbox").checked = false;
            document.getElementById(chkboxname).checked = true;

            // Make ajax call to controller to update the table
            if (chkboxname == "ProcessName_checkbox")
                MainPageAjaxUpdate( parseInt("1"),
                                    parseInt("1"), 
                                    document.getElementById("search_input_id").value    );
            else if (chkboxname == "LastMsg_checkbox")
                MainPageAjaxUpdate( parseInt("1"),
                                    parseInt("2"), 
                                    document.getElementById("search_input_id").value    );
            else if (chkboxname == "MsgDate_checkbox")
                MainPageAjaxUpdate( parseInt("1"),
                                    parseInt("3"), 
                                    document.getElementById("search_input_id").value    );
            else if (chkboxname == "ProcessState_checkbox")
                MainPageAjaxUpdate( parseInt("1"),
                                    parseInt("4"), 
                                    document.getElementById("search_input_id").value    );
            else
                alert("SORTING ERROR");
        }
        else {
            // We are not allowed all sorting checkbox uncheck
            document.getElementById(chkboxname).checked = true;
        }
    }

    // Expand process detail
    //$("#process_table").jExpand();
    $(document).ready(function () {
        $("#process_table tr:odd").addClass("odd");
        $("#process_table tr:not(.odd)").hide();
        $("#process_table tr:first-child").show();

        $("#process_table tr.odd").click(function () {
            $(this).next("tr").toggle();
            $(this).find(".arrow").toggleClass("up");
        });
        //$("#report").jExpand();
    });


    // Show Jobs, hide Messages on clicks
    function show_job(process_name) {
        document.getElementById(process_name + 'message').style.display = 'none';
        document.getElementById(process_name + 'JobBtn').style.display = 'none';
        document.getElementById(process_name + 'job').style.display = 'block';
        document.getElementById(process_name + 'MsgBtn').style.display = 'block';
        ProcessJobUpdate(/*page*/1, process_name);
    }

    // Show Messages, hide Jobs on clicks
    function show_message(process_name) {
        document.getElementById(process_name + 'job').style.display = 'none';
        document.getElementById(process_name + 'MsgBtn').style.display = 'none';
        document.getElementById(process_name + 'message').style.display = 'block';
        document.getElementById(process_name + 'JobBtn').style.display = 'block';
        ProcessMsgUpdate(/*page*/1, process_name);
    }

    function ProcessMsgUpdate(page, process_name) {
        $.ajax({
            url: '/Home/ProcessMsgUpdate',
            data: { "page": page, "processName": process_name },
            success: function (data) {
                $('div.' + process_name + 'message').empty();
                $('div.' + process_name + 'message').append(data);
            },
            error: function (result) {
                alert(result);
            }
        });
    }

    function ProcessJobUpdate(page, process_name) {
        $.ajax({
            url: '/Home/ProcessJobUpdate',
            data: { "page": page, "processName": process_name },
            success: function (data) {
                $('div.' + process_name + 'job').empty();
                $('div.' + process_name + 'job').append(data);
            },
            error: function (result) {
                alert(result);
            }
        });
    }
</script>

<!-- Hidden labels to keep track of values -->
<label id="current_page_label" hidden="true">@Model.CurrentPage</label>
<label id="current_sorting_label" hidden="true">@Model.SortingType</label>


<!-- Main table -->
<table id="process_table" class="display">

    <!-- Table header: Display column names, use checkboxes for Sorting -->
    <thead>     
        <tr>
            <td>
                ProcessName 
                @if (Model.SortingType == 1)
                {
                    <input id="ProcessName_checkbox" type="checkbox" onclick="sorting(this.id)" checked="checked"/> 
                }
                else
                {
                    <input id="ProcessName_checkbox" type="checkbox" onclick="sorting(this.id)"/> 
                }                 
            </td>
            <td>
                LastMessage 
                @if (Model.SortingType == 2)
                {
                    <input id="LastMsg_checkbox" type="checkbox" onclick="sorting(this.id)" checked="checked"/> 
                }
                else
                {
                    <input id="LastMsg_checkbox" type="checkbox" onclick="sorting(this.id)"/> 
                }    
            </td>
            <td>
                MsgDate 
                @if (Model.SortingType == 3)
                {
                    <input id="MsgDate_checkbox" type="checkbox" onclick="sorting(this.id)" checked="checked"/> 
                }
                else
                {
                    <input id="MsgDate_checkbox" type="checkbox" onclick="sorting(this.id)"/> 
                }    
            </td>
            <td>
                ProcessState 
                @if (Model.SortingType == 4)
                {
                    <input id="ProcessState_checkbox" type="checkbox" onclick="sorting(this.id)" checked="checked"/> 
                }
                else
                {
                    <input id="ProcessState_checkbox" type="checkbox" onclick="sorting(this.id)"/> 
                }
            </td>
            <td>
            </td>
        </tr>
    </thead>


    <!-- Table Body: Display summary & details -->
    <tbody>
        <!-- For every process -->
        @foreach (var process in Model.Data)
        {
            <!-- Show summary -->
            <tr>
                <td>@process.ProcessName </td>
                <td>@process.LastAction </td>
                <td>@process.MsgDate.ToString("yyyy-MM-dd HH:mm tt") </td>
                <td><center><img src="..\..\Content\images\@(process.ProcessState.Trim()).png" alt=""/></center> </td>
                <td><div class="arrow"></div></td>
                           
            </tr>
            
            <!-- If click on the process, expand the table, show process details -->
            <tr>
                <td colspan="5" >
                    <!-- Table of messages in current process -->
                    <input id="@(process.ProcessName)JobBtn" type="button" value="Show Jobs"
                            onclick="show_job('@(process.ProcessName)')"/>
                    <!-- Partial View: Message --> 
                    <div  id = "@(process.ProcessName)message" style="display:inline-block; width:100%">
                        <div class = "@(process.ProcessName)message"></div>
                    </div>

                    <!-- Table of jobs in current process -->
                    <input id="@(process.ProcessName)MsgBtn" type="button" value="Show Messages" style="display:none" 
                            onclick="show_message('@(process.ProcessName)')"/>
                    <!-- Partial View: Job -->
                    <div id = "@(process.ProcessName)job" style="display:none; width:100%">
                        <div class = "@(process.ProcessName)job"></div>
                    </div>
                </td>
            </tr>
        }
    </tbody>

    <!-- Table footer: Paging -->
    <tfoot>
        <tr>
            <td colspan="4">
                @{  // Pagination     

                    int start, end;

                    // Get the value of start and end based on the value of currpage and total number of page
                    if (Model.NumberOfPages <= 5)
                    {
                        // If the total number of page is less than 5, show all to user
                        start = 0;
                        end = Model.NumberOfPages;
                    }
                    else
                    {
                        // Else, allows user to choose first page, last page and 5 other page around current chose page
                        start = Model.CurrentPage - 2;
                        end = Model.CurrentPage + 2;

                        if (start < 1)
                        {
                            start = 1;
                            end = 5;
                        }
                        else if (end > Model.NumberOfPages)
                        {
                            start = Model.NumberOfPages - 4;
                            end = Model.NumberOfPages;
                        }
                    }

                    for (int i = 1; i <= Model.NumberOfPages; i++)
                    {
                        if (i < start)
                        {
                            if (i == 1)
                            {
                                    <a class="page-number" href="javascript:void();">@i</a>   
                            }
                            else
                            {
                                    <label>...</label>
                                i = start - 1;
                            }
                        }
                        else if (i > end)
                        {
                            if (i == Model.NumberOfPages)
                            {
                                    <a class="page-number" href="javascript:void();">@i</a>
                            }
                            else
                            {
                                    <label>...</label>
                                i = Model.NumberOfPages - 1;
                            }
                        }
                        else if (i == Model.CurrentPage)
                        {
                                @i
                        }
                        else
                        {
                                <a class="page-number" href="javascript:void();">@i</a>
                            }
                        }    
                                                               
                }
                            
                <label>|</label>
                <label>Go to page:</label>                       
                <input  id="page_target" type="text" style="width: 40px" 
                        onchange="MainPageAjaxUpdate(   parseInt(document.getElementById(this.id).value), 
                                                        parseInt(document.getElementById('current_sorting_label').innerHTML), 
                                                        document.getElementById('search_input_id').value)"/>
            </td>
        </tr>              
    </tfoot>
</table>