@*
Author   : Chinh T Cao
           Anh T Nguyen
Version  : 1.0.0
Date     : 12/29/2011
Copyright: Capstone Project Team Falcon 2011 All right reserved
*@

@model PeregrineUI_2.Models.PageData<PeregrineUI_2.Models.Process>

<script type="text/javascript">
  
    // Expand process detail
    $(document).ready(function () { 
       
        main_page_main_current_page = @(Model.CurrentPage);
        main_page_main_current_sort = @(Model.SortingType);

        $("#process_table tr:odd").addClass("odd");
        //$("#process_table tr:not(.odd)").hide();
        //$("#process_table tr:first-child").show();

        opened_row_id = current_scrolldown_process;
        if (opened_row_id != '*_*') {
            opened_row = document.getElementById(opened_row_id);
            if (opened_row != null) {
                //$(opened_row).next("tr").show();
                ExpandedTabUpdate(   current_scrolldown_process,
                                     msg_or_job,
                                     parseInt(inside_page));
            }
            else {
                current_scrolldown_process = '*_*';
            }
        }

        $("#process_table tr.odd").click(function () {
         
            if ($(this).attr("id") != "")
            {
                // Close all tabs except the clicked row
                //$("#process_table tr:not(.odd)").not($(this).next("tr")).hide();
                $("#process_table tr.odd").not($(this)).find(".arrow").removeClass("up");
                //$("#process_table tr:first-child").show();

                // Toggle the clicked row
                $(this).next("tr").toggle();
                $(this).find(".arrow").toggleClass("up");

                // Save currently opened tab into a label
                // If the clicked row is currently open, close it
                if (current_scrolldown_process == $(this).attr("id")) {
                    current_scrolldown_process = '*_*';
                }
                // if not, open the row
                else {
                    current_scrolldown_process = $(this).attr("id"); 
                    show_message('1', $(this).attr("id"));              
                }
             }
        });
       
        // Handle clicking msg page number 
        $(".process_msg_page-number").live("click", function () {
            show_message(   parseInt($(this).html()),
                            current_scrolldown_process);
        });

        // Handle clicking job page number 
        $(".process_job_page-number").live("click", function () {
            show_job(   parseInt($(this).html()),
                        current_scrolldown_process);
        });
    });

    
</script>

<!-- Main table -->
<table id="process_table" class="display">

    <!-- Table header: Display column names, use checkboxes for Sorting -->
    <thead id = "process_list_header">     
        <tr>
            <td>
                <div style="float: left">Process Name</div> 
                <div style="float: right">           
                   
                               
                    <div id="Main_page_pro_name_sort_acc" onclick="Main_page_sorting(this.id);" class="arrow_bg"><div class="up_arrow @if(Model.SortingType == 0){
                                                                                                                                          @:arrow_selected
                                                                                                                                          }"></div></div>
                    <div id="Main_page_pro_name_sort_desc" onclick="Main_page_sorting(this.id);" class="arrow_bg"><div class="down_arrow @if(Model.SortingType == 1){
                                                                                                                                             @:arrow_selected
                                                                                                                                          }"></div></div>
                </div>                               
            </td>
            <td>
                <div style="float: left">Last Message</div> 
                <div style="float: right">           
                    

                    <div id="Main_page_last_msg_sort_acc" onclick="Main_page_sorting(this.id);" class="arrow_bg"><div class="up_arrow @if(Model.SortingType == 2){
                                                                                                                                             @:arrow_selected
                                                                                                                                          }"></div></div>
                    <div id="Main_page_last_msg_sort_desc" onclick="Main_page_sorting(this.id);" class="arrow_bg"><div class="down_arrow @if(Model.SortingType == 3){
                                                                                                                                             @:arrow_selected
                                                                                                                                          }"></div></div>
                </div>            
            </td>
            <td>
                <div style="float: left">Message Date</div> 
                <div style="float: right">           
                    

                    <div id="Main_page_msg_date_sort_acc" onclick="Main_page_sorting(this.id);" class="arrow_bg"><div class="up_arrow @if(Model.SortingType == 4){
                                                                                                                                             @:arrow_selected
                                                                                                                                          }"></div></div>
                    <div id="Main_page_msg_date_sort_desc" onclick="Main_page_sorting(this.id);" class="arrow_bg"><div class="down_arrow @if(Model.SortingType == 5){
                                                                                                                                             @:arrow_selected
                                                                                                                                          }"></div></div>
                </div>              
            </td>
            <td>
                <div style="float: left">Process State</div> 
                <div style="float: right">           
                    

                    <div id="Main_page_pro_state_sort_acc" onclick="Main_page_sorting(this.id);" class="arrow_bg"><div class="up_arrow @if(Model.SortingType == 6){
                                                                                                                                             @:arrow_selected
                                                                                                                                          }"></div></div>
                    <div id="Main_page_pro_state_sort_desc" onclick="Main_page_sorting(this.id);" class="arrow_bg"><div class="down_arrow @if(Model.SortingType == 7){
                                                                                                                                             @:arrow_selected
                                                                                                                                          }"></div></div>
                </div>                 
            </td>
            <td>
            </td>
        </tr>
    </thead>


    <!-- Table Body: Display summary & details -->
    <tbody>
        <!-- For every process -->
        @foreach (var process in Model.Data)
        {
            <!-- Show summary -->
            <tr id="@(process.ProcessName)">
                <td>@process.ProcessName </td>
                <td>@process.LastAction </td>
                <td>@process.MsgDate.ToString("yyyy-MM-dd HH:mm tt") </td>
                <td style="text-align: center;"><img src="../../Content/images/@(process.ProcessState.Trim()).png" alt=""/> </td>
                <td><div class="arrow"></div></td>
                           
            </tr>
            
            <!-- If click on the process, expand the table, show process details -->
            <tr>
                <td colspan="5" id = "expand_row">
                    <!-- Table of messages in current process -->
                    <input id="@(process.ProcessName)JobBtn" type="button" value="Show Jobs"
                            onclick="show_job('1', '@(process.ProcessName)')"/>
                    <!-- Partial View: Message --> 
                    <div  id = "@(process.ProcessName)message" style="display:inline-block; width:100%">
                        <div class = "@(process.ProcessName)message"></div>
                    </div>

                    <!-- Table of jobs in current process -->
                    <input id="@(process.ProcessName)MsgBtn" type="button" value="Show Messages" style="display:none" 
                            onclick="show_message('1', '@(process.ProcessName)')"/>
                    <!-- Partial View: Job -->
                    <div id = "@(process.ProcessName)job" style="display:none; width:100%">
                        <div class = "@(process.ProcessName)job"></div>
                    </div>
                </td>
            </tr>
        }
    </tbody>

    <!-- Table footer: Paging -->
    <tfoot>
        <tr>
            <!--<td colspan="4">
                @{  // Pagination     

                    int start, end;

                    // Get the value of start and end based on the value of currpage and total number of page
                    if (Model.NumberOfPages <= 5)
                    {
                        // If the total number of page is less than 5, show all to user
                        start = 0;
                        end = Model.NumberOfPages;
                    }
                    else
                    {
                        // Else, allows user to choose first page, last page and 5 other page around current chose page
                        start = Model.CurrentPage - 2;
                        end = Model.CurrentPage + 2;

                        if (start < 1)
                        {
                            start = 1;
                            end = 5;
                        }
                        else if (end > Model.NumberOfPages)
                        {
                            start = Model.NumberOfPages - 4;
                            end = Model.NumberOfPages;
                        }
                    }

                    for (int i = 1; i <= Model.NumberOfPages; i++)
                    {
                        if (i < start)
                        {
                            if (i == 1)
                            {
                                <a  class="page-number" href="javascript:void(0)"  
                                    onclick="MainPageAjaxUpdate(    parseInt($(this).html()),
                                                                    main_page_main_current_sort,
                                                                    document.getElementById('main_page_search_input').value);
                                            current_scrolldown_process = '*_*' ">@i</a>    
                            }
                            else
                            {
                                <label>...</label>
                                i = start - 1;
                            }
                        }
                        else if (i > end)
                        {
                            if (i == Model.NumberOfPages)
                            {
                                 <a     class="page-number" href="javascript:void(0)"  
                                        onclick="MainPageAjaxUpdate(    parseInt($(this).html()),
                                                                        main_page_main_current_sort,
                                                                        document.getElementById('main_page_search_input').value);
                                                current_scrolldown_process = '*_*' ">@i</a>  
                            }
                            else
                            {
                                <label>...</label>
                                i = Model.NumberOfPages - 1;
                            }
                        }
                        else if (i == Model.CurrentPage)
                        {
                            @i
                        }
                        else
                        {
                             <a  class="page-number" href="javascript:void(0)"  
                                onclick="MainPageAjaxUpdate(    parseInt($(this).html()),
                                                                main_page_main_current_sort,
                                                                document.getElementById('main_page_search_input').value);
                                        current_scrolldown_process = '*_*' ">@i</a> 
                        }
                    }    
                                                               
                }
                            
                <label>|</label>
                <label>Go to page:</label>                       
                <input  id="page_target" type="text" style="width: 40px" 
                        onchange="MainPageAjaxUpdate(   parseInt(document.getElementById(this.id).value), 
                                                        main_page_main_current_sort, 
                                                        document.getElementById('main_page_search_input').value);
                                  current_scrolldown_process = '*_*' "/>
            </td>-->
            <td colspan="5">
                <div style="text-align: center;"><input type="button" class="ui_button" value="Load More" onclick="MainPageAjaxUpdate((main_page_main_current_page+1), main_page_main_current_sort, document.getElementById('main_page_search_input').value)" /></div>
            </td>
        </tr>              
    </tfoot>
</table>